@import "_variable.scss";

.projects {
    background-color: $secondaryLigthColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: $superBigFont;
        color: $primaryColor;
        margin: 40px;
        overflow: hidden;

        @include mobile{
            font-size: 20px;
            margin: 20px;
        }

        @include tablets{
            font-size: $bigFont;
        }
    }

    .wrapper {
        display: flex;
        width: 70vw;
        height: 70vh;
        justify-content: space-between;
        align-items: center;
        font-size: 50;

        @include mobile {
            flex-direction: column;
            height: 100%;
        }

        @include windowed {
            width: 90vw;
            height: 70vh;
            justify-content: space-between;
        }

    }
}